/* ---------Global Reset ------------ */
@import "normalize.css";

/* ---------Layout changes -----------*/


#sitewrapper { width: 959px;
			   margin: 0auto;
			   /*background-color: #f26522; */			   
			   background: url(https://photos-1.dropbox.com/t/0/AADVRx14ZreLM_N42q8tCsC03p-IO48LxlIW-PBgRp1_ng/10/136569260/png/32x32/6/_/1/2/escheresque_ste.png/mPuI7CJv6ukC-3-YUopB23q9feFVpte2VljGq38rlfQ?size=800x600&size_mode=2);
			   margin-top: 0;
} 
img { border: 2px solid #074d46;
}

body {margin: 0 auto;}

h1 {margin: 0;
	padding: 0;
}

h2, h3 {text-shadow: 3px 3px 3px #c02509;}

nav {width: 959px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 30px;
	
}

ul {	-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		margin: 0 auto;
		list-style-type: none;
		padding: 0;
		overflow: hidden;
}


nav li { display: block;
         width: 159.83333px;
         height: 38px;
         float: left;
		 background-color: #c02509;
		 text-align: center;
		
}	


nav a {	line-height: 38px;
		vertical-align: center; 
		
}

p{	font-family: georgia;
	clear: both;
}

article {border: 2px solid #074d46;
		 background-color: #7b9e9c;
}

a:link {
		text-decoration: none;
		color: #000;
}

nav a:hover{ 
		 background-color: #000;
		 color: #fff;
		 text-decoration: none;
		 display: block;
}

a:visited: {
			 color: c0f;
}

h1 a:hover {
	width: 375px;
}

.thomaspicture {

	float: left;
}

.debra {
	margin: 0 auto;
	float: right;
}








/*------------------ MEDIA QUERIES  --------------------*/

/* Tablet portrait size to standard 960 (devices and browsers) */
@media screen and (min-width: 768px) and (max-width: 959px) {}

/* mobile landscape size to tablet portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

 /* iPhone 5 only -- I have the iphone 5 now so I wanted to use this media querie specification --- */

@media only screen and (min-device-width: 640px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
}

