/* ---------Global Reset ------------ */
@import "normalize.css";

/* ---------Layout changes -----------*/

html {background-color: darkgreen; }
	{
		background-color: #fff;
	
	}

#sitewrapper { max-width: 960px;
			   margin: 0 auto;
			   background: url(../images/escheresque_ste.png);
			   margin-top: 0;

} 

/* --------INDEX PAGE ------------*/

#index-background {

	background-color: #A9F5BC; 
}

.nav-container {

	background-color: #000;
}

/* --------END INDEX PAGE ---------*/

/*  ------LOGO AREA -----------------*/

header h1 {

	max-width: 100%;
	border-right: 1px solid #fff;
	max-height: 193px; 
	margin: 0px;
	padding: 0px;
}

header img {

	text-align: center;
	margin-bottom: 0px;
	border: transparent; 

}

header h2 {

	margin-bottom: 0px; 
	text-align: center; 
}

.slogan {

	text-align: center; 
	padding-top: 10px;
	width: 99%;
	background-color: #000;
	float: left;
	color: #fff;
	font-weight: bold;
	font-size: .8em;
	margin-bottom: 0px; 
	margin-top: 0px;
	
}
/* ------End logo / header area --------*/

img { border: 3px solid #A9F5BC;
	max-width: 100%;
}

body {margin: 0 auto;}

h1 {margin: 0;
	padding: 0;
}

h2, h3, h4 {
	display: block;
	height: 30px;
	padding-top: 7px;
	font-size: 20px;
	text-shadow: 3px 3px 3px #c02509;
	color: #fff;
	clear: both;
	background-color: #000;
	background-height: 35px;
	text-align: center; 
	margin: 0px;

}

/* --------------NAV AREA --------------*/
nav {
	
	width: 959px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 0px;
	
}

ul {	-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		margin: 0 auto;
		list-style-type: none;
		padding: 0;
		overflow: hidden;
}


nav li { display: block;
         width: 159.83333px;
         height: 38px;
         float: left;
		 background-color: #c02509;
		 text-align: center;
		
}	


nav a {	line-height: 38px;
				
}

p{	font-family: georgia;
	line-height: 1.5;
	padding-left: 10px;
}

article {border: 2px solid #074d46;
		 background-color: #A9F5BC; 
}

a:link {
		text-decoration: none;
		color: #fff;
}

nav a:hover{ 
		 background-color: #000;
		 color: #fff;
		 text-decoration: none;
		 display: block;
}

a:visited {
			 color: #fff;
}

h1 a:hover {
	width: 375px;
}

/* -----------END NAV  AREA --------------------------*/
/*  --------- IMAGE -SPOUSE PROGRAM PAGE EDITS ----- */

.thomas-cooking {

	float: right;
	margin-right: 125px;
	max-width: 100%;
}

.debra-cooking {

	float: right;
	margin-right: 125px;
	max-width: 100%;
	margin-top: 125px;
}

figcaption {

	color: #fff;
	text-align: center; 
}

.main-image {

	margin-left: 75px;
	border: 8px solid #074d46 ;
}

/*  ---------END IMAGE -SPOUSE PROGRAM PAGE EDITS ----- */

/*   ---------Area for form details -----------   */
label {
	color: #fff;
	padding-bottom: 15px;
}

legend {

	color: #fff;
	font-weight: bold;
}

.formhead {
	color: #fff;
	font-weight: bold;	
	text-decoration: underline;
}

.ContactReason {

	margin-bottom: 10px;
	margin-left: 52px;
}

fieldset {

	width: 235px;
	background-color: darkgreen;
	margin-bottom: 20px;
	border-radius: 5px;
}

.best-time {

	margin-bottom: 5px;
	margin-left: 52px;
}

.sendbutton {

	color: #fff;
	background-color: darkgreen;
	margin-left: 300px;
	width: 400px;
	padding: 5px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	
}

.phone-number{

	float: right;
	color: #fff;
	padding: 0px;
	width: 300px;
}

.address-line-1 {

	clear: right;
	float: right;
	color: #fff;
	margin-right: 98px;
	padding: 0px;
	width: 200px;
}

.address-line-2 {

	clear: right;
	float: right;
	color: #fff;
	margin-right: 162px;
	padding: 0px;

}

.phone-number-address {

	clear: right;
	float: right;
	margin-top: 15px;
	margin-right: 116px;
	
}

textarea {

	width: 400px;
}

.comments-area {

	width: 400px;
	margin-left: 52px;
}

.basicinfo {

	margin-bottom: 7px; 
	margin-left: 52px;
}

/* -------Form details area ending -------*/


/*   ----------embedded map on contact page --------*/

iframe {

	border-style: solid;
	border-color: darkgreen;
	border-width: 24px;
	float: right;
	margin-right: 50px;
	outline: 1px solid #fff;
	-webkit-outline-radius: 10px;
	-moz-outline-radius: 10px;
	outline-radius: 10px;
	
	
}
/*   ----------END embedded map on contact page --------*/
/* ----------CLASSES PAGE LAYOUT CHANGES --------*/

.classes-page-examples {

	margin-left: 15px;
	border: 2px solid #000;
}

.classes-page-examples-2 {

	margin-left: 15px;
	border: 2px solid #000;
}

/* ----------END CLASSES PAGE LAYOUT CHANGES --------*/



/*   ------------FOOTER LAYOUT CHANGES ----------------*/
footer {
	margin-top: 0px;
	width: 960px;
	height: 150px;
	color: #fff;
	clear: right;
	background-color: #000;
}

footer p {

	text-align: center; 
	margin: 0px;
}
/* ----------------HOME PAGE IMAGE AND LAYOUT CHANGES */



.requestclass {

	color: #fff;
	background-color: darkgreen;
	margin-left: 300px;
	width: 400px;
	padding: 5px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.plate-of-food {

	margin-left: 5px;
	border: 2px solid #000;
}

.cooking-teacher {

	border: 2px solid #000;	
}

/*  --------------END OF PAGE IMAGE AND LAYOUT CHANGES*/

/*   ------------END FOOTER LAYOUT CHANGES ----------------*/

/* -------------TABLE LAYOUTS FOR THE CLASS SCHEDULE PAGE --------*/

table {

	color: #000;
	border: 1px solid #fff;
}

tr {

	color: #000;
	border: 1px solid #fff;

}

td {

	color: #000;
	border: 1px solid #fff;
	background-color: #A9F5BC; 
	padding: 5px 5px 5px 10px; 
}

th {

	color: #fff;
	border: 1px solid #fff;
	/*background-color: #c02509;*/
	background-color: #173B0B; 
	padding: 5px;
}

#schedule-class-page h2 {

	font-size: 20px; 
	color: #fff;
	text-shadow: none;
	text-shadow: 3px 3px 3px #c02509;
}



/* -------------END TABLE LAYOUTS FOR THE CLASS SCHEDULE PAGE --------*/


/* -------------LAYOUTS FOR CLASSES PAGE --------*/



/* -------------LAYOUTS FOR CLASSES PAGE --------*/



/*------------------ MEDIA QUERIES  --------------------*/

/* Tablet portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	
#index-background {

	background-color: #A9F5BC; 
}

img {max-width: 100%}

.plate-of-food {

	margin-left: 220px;

}

.cooking-teacher {

	margin-left: 220px;
	
}

.requestclass {

	margin-left: 260px;
}

.sendbutton {

	margin-left: 260px;	
}

nav li {

	float: none;
}

/* ------form elements --------*/


.formhead {
	color: #fff;
	font-weight: bold;	
	text-decoration: underline;
}

.ContactReason {

	margin-bottom: 10px;
	margin-left: 52px;
}

fieldset {

	width: 235px;
	background-color: darkgreen;
	margin-bottom: 20px;
	border-radius: 5px;
}

.best-time {

	margin-bottom: 5px;
	margin-left: 52px;
}

.sendbutton {

	color: #fff;
	background-color: darkgreen;
	margin-left: 300px;
	width: 400px;
	padding: 5px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;

	
}

.phone-number{

	float: none;
	color: #fff;
	padding: 0px;
	width: 300px;
}

.address-line-1 {

	clear: right;
	float: none;
	color: #fff;
	margin-right: 98px;
	padding: 0px;
	width: 200px;
}

.address-line-2 {

	clear: right;
	float: none;
	color: #fff;
	margin-right: 162px;
	padding: 0px;

}

.phone-number-address {

	clear: right;
	float: none;
	margin-top: 15px;
	margin-right: 116px;
	
}

textarea {

	width: 400px;
}

.comments-area {

	width: 400px;
	margin-left: 52px;
}

.basicinfo {

	margin-bottom: 7px; 
	margin-left: 52px;
}

iframe {

	clear: both;
	float: none;
}
/* ----------end form elements - -----------*/


}
/* mobile landscape size to tablet portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {


#index-background {

background-color: #A9F5BC; 
}


img {max-width: 100%}

.requestclass {

	margin-left: 180px;
}

.plate-of-food {

	margin-left: 130px;

}

.cooking-teacher {

	margin-left: 130px;
	
}

nav li {

	float: none;
}

footer p {

	margin-right: 200px;
}


/* ------form elements --------*/


.best-time {

	margin-bottom: 5px;
	margin-left: 52px;
}

.sendbutton {

margin-left: 180px;
	
}

.phone-number{

	float: none;
	color: #fff;
	padding: 0px;
	width: 300px;
}

.address-line-1 {

	clear: right;
	float: none;
	color: #fff;
	margin-right: 98px;
	padding: 0px;
	width: 200px;
}

.address-line-2 {

	clear: right;
	float: none;
	color: #fff;
	margin-right: 162px;
	padding: 0px;

}

.phone-number-address {

	clear: right;
	float: none;
	margin-top: 15px;
	margin-right: 116px;
	
}

textarea {

	width: 400px;
}

.comments-area {

	width: 400px;
	margin-left: 52px;
}

.basicinfo {

	margin-bottom: 7px; 
	margin-left: 52px;
}

iframe {

	clear: both;
	float: none;
}
/* ----------end form elements - -----------*/

}
 /*  ----------------MOBILE SCREEN VIEW-- */

@media only screen and (max-width: 479px) { 


#index-background {

	background-color: #A9F5BC;  
}

img {

	max-width: 100%
}


nav li {

	float: none;
}


.requestclass {

	margin-left: 100px;
	width: 200px;
}

.sendbutton {

	margin-left: 100px;
	width: 200px;

}

footer p {

	margin-right: 500px;
}

.comments-area {

	margin-left: 52px;
}




}